<head>
	<title><%= title %></title>
	<% include ../../elements/meta %>
</head>

<body class="bg-white">
	<% include ../../elements/header %>

	<% include ../../elements/breadcrumb %>

	<!--================ confirmation part start =================-->
	<section class="confirmation_part section_padding">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="confirmation_tittle">
						<span>Cảm ơn. Đơn hàng của bạn đã được gửi.<span>
					</div>
				</div>
				<div class="col-lg-6 col-lx-4">
					<div class="single_confirmation_details">
						<h4>Thông tin đơn hàng</h4>
						<ul>
							<li>
								<p>Mã đơn hàng</p><span>: 60235</span>
							</li>
							<li>
								<p>Ngày</p><span>: 5 Th 11, 2019</span>
							</li>
							<li>
								<p>Tổng</p><span>: 940.000 VNĐ</span>
							</li>
							<li>
								<p>Phương thức thanh toán</p><span>: Tín dụng</span>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-6 col-lx-4">
					<div class="single_confirmation_details">
						<h4>Địa chỉ thanh toán</h4>
						<ul>
							<li>
								<p>Đường</p><span>: 56/8</span>
							</li>
							<li>
								<p>Thành phố</p><span>: TP Hồ Chí Minh</span>
							</li>
							<li>
								<p>Quốc gia</p><span>: Việt Nam</span>
							</li>
							<li>
								<p>Mã bưu chính</p><span>: 36952</span>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-6 col-lx-4">
					<div class="single_confirmation_details">
						<h4>Địa chỉ giao hàng</h4>
						<ul>
							<li>
								<p>Đường</p><span>: 56/8</span>
							</li>
							<li>
								<p>Thành phố</p><span>:TP Hồ Chí Minh</span>
							</li>
							<li>
								<p>Quốc gia</p><span>: Việt Nam</span>
							</li>
							<li>
								<p>Mã bưu chính</p><span>: 36952</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="order_details_iner">
						<h3>Chi tiết đơn hàng</h3>
						<table class="table table-borderless">
							<thead>
								<tr>
									<th scope="col" colspan="2">Sản phẩm</th>
									<th scope="col">Số lượng</th>
									<th scope="col">Thành tiền</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th colspan="2"><span>Mũ lưỡi trai X</span></th>
									<th>01</th>
									<th> <span>150.000 VNĐ</span></th>
								</tr>
								<tr>
									<th colspan="2"><span>Áo khoác nữ</span></th>
									<th>01</th>
									<th> <span>260.000 VNĐ</span></th>
								</tr>
								<tr>
									<th colspan="2"><span>Giày Nike</span></th>
									<th>01</th>
									<th> <span>500.000 VNĐ</span></th>
								</tr>
								<tr>
									<th colspan="3">Tổng</th>
									<th> <span>910.000 VNĐ</span></th>
								</tr>
								<tr>
									<th colspan="3">Giao hàng</th>
									<th><span>Thông thường: 30.000 VNĐ</span></th>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<th scope="col" colspan="2">Tổng</th>
									<th scope="col">03</th>
									<th scope="col">940.000 VNĐ</th>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ confirmation part end =================-->

	<% include ../../elements/subscribe %>

	<% include ../../elements/footer %>

	<% include ../../elements/scripts %>
</body>

</html>

</html>

</html>

</html>

</html>

</html>