<li class="nav-item">
        <a class="nav-link" href="/blogs">Bài viết</a>
    </li>

<!--<a class="nav-link dropdown-toggle" href="/blogs" id="navbarDropdown_2" role="button" data-toggle="dropdown"
    aria-haspopup="true" aria-expanded="false">
    blog
</a>
<div class="dropdown-menu" aria-labelledby="navbarDropdown_2">
    <a class="dropdown-item" href="/blogs"> blog</a>
    <a class="dropdown-item" href="/blog/single-blog.html">Single blog</a>
</div>-->