<section class="shipping_details section_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="single_shopping_details">
                    <img src="/images/icon/icon_1.png" alt="">
                    <h4>Giao hàng miễn phí</h4>
                    <p>Miễn phí giao hàng cho các giao dịch nội thành.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_shopping_details">
                    <img src="/images/icon/icon_2.png" alt="">
                    <h4>Tin cậy</h4>
                    <p>Đăng kí giao dịch cụ thể và rõ ràng, đáng tin cậy.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_shopping_details">
                    <img src="/images/icon/icon_3.png" alt="">
                    <h4>Hỗ trợ thanh toán</h4>
                    <p>Giao dịch bằng tín dụng, tài khoản ngân hàng và COD.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_shopping_details">
                    <img src="/images/icon/icon_4.png" alt="">
                    <h4>Hỗ trợ khách hàng</h4>
                    <p>Dịch vụ hỗ trợ khách hàng 24/7 nhanh chóng và thân thiện.</p>
                </div>
            </div>
        </div>
    </div>
</section>