<div class="search_input" id="search_input_box">
    <div class="container ">
        <form method="GET" class="d-flex justify-content-between search-inner">
            <input type="text" name="search" class="form-control" id="search_input"
                placeholder="Tìm kiếm sản phẩm tại đây">
            <button type="submit" value="Submit" class="btn"></button>
            <span class="ti-close" id="close_search" title="Close Search"></span>
            <%for (var propName in query) {%>
                <%if (query.hasOwnProperty(propName) && propName !== "search") { %>
                    <input type="hidden" name="<%= propName%>" value="<%= query[propName]%>">
                <%}%>
            <%}%>

        </form>
    </div>
</div>