<head>
	<title><%= title %></title>
	<% include ../../elements/meta %>
</head>

<body class="bg-white">
	<% include ../../elements/header %>

	<% include ../../elements/breadcrumb %>

	<!--================ confirmation part start =================-->
	<section class="confirmation_part section_padding">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="confirmation_tittle">
						<span>Mail lấy mật khẩu đã được gửi đến email của bạn.</span>
					</div>
				</div>				
			</div>
		</div>
	</section>
	<!--================ confirmation part end =================-->

	<% include ../../elements/subscribe %>

	<% include ../../elements/footer %>

	<% include ../../elements/scripts %>
</body>

</html>

</html>

</html>

</html>

</html>

</html>