<!DOCTYPE html>
<html lang="en">

<head>
    <title><%= title %></title>
    <% include ../../elements/meta %>
    <link href="/stylesheets/register.css" rel="stylesheet" media="all">
</head>

<body>
    <% include ../../elements/header %>

    <% include ../../elements/breadcrumb %>


    <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
                    <h2 class="title">Đăng kí tài khoản</h2>
                    <% for (let i=0;i<errors.length;i++) {%>
                    <div class="alert alert-danger" role="alert">
                        <%= errors[i] %>
                    </div>
                    <% } %>
                    <form method="POST">
                        <div class="row row-space">
                                <div class="col-6">
                                    <div class="input-group">
                                        <label class="label">Username</label>
                                        <input class="input--style-4" type="text" name="username" required>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="input-group">
                                        <label class="label">Mật khẩu</label>
                                        <input class="input--style-4" type="password" id="password" name="password" minlength="6" required>
                                    </div>
                                </div>
                            </div>
                        <div class="row row-space">
                            <div class="col-6">
                                <div class="input-group">
                                    <label class="label">Tên</label>
                                    <input class="input--style-4" type="text" name="name">
                                </div>
                            </div>
                            <div class="col-6">
                                    <div class="input-group">
                                        <label class="label">Xác nhận mật khẩu</label>
                                        <input class="input--style-4" type="password" id="confirm_password" minlength="6" required>
                                    </div>
                                </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-6">
                                <div class="input-group">
                                    <label class="label">Ngày sinh</label>
                                    <div class="input-group-icon">
                                        <input class="input--style-4 js-datepicker" type="text" name="birthday">
                                        <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="input-group">
                                    <label class="label">Giới tính</label>
                                    <div class="p-t-30">
                                        <label class="radio-container m-r-45">Nam
                                            <input type="radio" checked="checked" name="gender">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="radio-container">Nữ
                                            <input type="radio" name="gender">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-6">
                                <div class="input-group">
                                    <label class="label">Email</label>
                                    <input class="input--style-4" type="email" name="email">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="input-group">
                                    <label class="label">Số điện thoại</label>
                                    <input class="input--style-4" type="text" name="phone">
                                </div>
                            </div>
                        </div>
                        <div class="p-t-15">
                            <button class="btn btn--radius-2 btn--blue" type="submit">Xác nhận</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <% include ../../elements/feature %>

    <% include ../../elements/subscribe %>

    <% include ../../elements/footer %>

    <% include regi-scripts %>

    <script src="/javascripts/jquery.magnific-popup.js"></script>
    <script src="/javascripts/slick.min.js"></script>
    <script src="/javascripts/jquery.counterup.min.js"></script>
    <script src="/javascripts/custom.js"></script>

    <script>
        var password = document.getElementById("password")
            , confirm_password = document.getElementById("confirm_password");

        function validatePassword() {
            if (password.value != confirm_password.value) {
                confirm_password.setCustomValidity("Password Not Match");
            } else {
                confirm_password.setCustomValidity('');
            }
        }

        password.onchange = validatePassword;
        confirm_password.onkeyup = validatePassword;
    </script>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>