<div class="col-lg-4">
    <div class="blog_right_sidebar">
        <aside class="single_sidebar_widget search_widget">
            <form action="/blogs">
                <div class="form-group">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder='Nhập từ khóa'
                            onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Keyword'">
                        <div class="input-group-append">
                            <button class="btn" type="button"><i class="ti-search"></i></button>
                        </div>
                    </div>
                </div>
                <button class="button rounded-0 primary-bg text-white w-100 btn_1" type="submit">Tìm kiếm</button>
            </form>
        </aside>

        <aside class="single_sidebar_widget post_category_widget">
            <h4 class="widget_title">Phân loại</h4>
            <ul class="list cat-list">
                <li>
                    <a href="/blogs" class="d-flex">
                        <p>Nhà hàng </p>
                        <p>(37)</p>
                    </a>
                </li>
                <li>
                    <a href="/blogs" class="d-flex">
                        <p>Tin tức du lịch </p>
                        <p>(10)</p>
                    </a>
                </li>
                <li>
                    <a href="/blogs" class="d-flex">
                        <p>Công nghệ </p>
                        <p>(03)</p>
                    </a>
                </li>
                <li>
                    <a href="/blogs" class="d-flex">
                        <p>Hàng hóa </p>
                        <p>(11)</p>
                    </a>
                </li>
                <li>
                    <a href="/blogs" class="d-flex">
                        <p>Cảm hứng </p>
                        <p>(21)</p>
                    </a>
                </li>
                <li>
                    <a href="/blogs" class="d-flex">
                        <p>Sức khỏe </p>
                        <p>(09)</p>
                    </a>
                </li>
            </ul>
        </aside>

        <aside class="single_sidebar_widget popular_post_widget">
            <h3 class="widget_title">Bài gần nhất</h3>
            <div class="media post_item">
                <img src="/images/post/post_1.png" alt="post">
                <div class="media-body">
                    <a href="blogs/1">
                        <h3>Gửi các thế hệ tương...</h3>
                    </a>
                    <p>30 phút trước</p>
                </div>
            </div>
            <div class="media post_item">
                <img src="/images/post/post_2.png" alt="post">
                <div class="media-body">
                    <a href="blogs/1">
                        <h3>Trở thành tâm điểm</h3>
                    </a>
                    <p>02 giờ trước</p>
                </div>
            </div>
            <div class="media post_item">
                <img src="/images/post/post_3.png" alt="post">
                <div class="media-body">
                    <a href="blogs/1">
                        <h3>Thiên văn hay chiêm ...</h3>
                    </a>
                    <p>03 giờ trước</p>
                </div>
            </div>
            <div class="media post_item">
                <img src="/images/post/post_4.png" alt="post">
                <div class="media-body">
                    <a href="blogs/1">
                        <h3>Kính thiên văn</h3>
                    </a>
                    <p>04 giờ trước</p>
                </div>
            </div>
        </aside>
        <aside class="single_sidebar_widget tag_cloud_widget">
            <h4 class="widget_title">Nhãn</h4>
            <ul class="list">
                <li>
                    <a href="/blogs">dự án</a>
                </li>
                <li>
                    <a href="/blogs">tình yêu</a>
                </li>
                <li>
                    <a href="/blogs">công nghệ</a>
                </li>
                <li>
                    <a href="/blogs">du lịch</a>
                </li>
                <li>
                    <a href="/blogs">nhà hàng</a>
                </li>
                <li>
                    <a href="/blogs">lối sống</a>
                </li>
                <li>
                    <a href="/blogs">thiết kế</a>
                </li>
                <li>
                    <a href="/blogs">minh họa</a>
                </li>
            </ul>
        </aside>


        <aside class="single_sidebar_widget instagram_feeds">
            <h4 class="widget_title">Tin Instagram</h4>
            <ul class="instagram_row flex-wrap">
                <li>
                    <a href="/blogs">
                        <img class="img-fluid" src="/images/post/post_5.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="/blogs">
                        <img class="img-fluid" src="/images/post/post_6.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="/blogs">
                        <img class="img-fluid" src="/images/post/post_7.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="/blogs">
                        <img class="img-fluid" src="/images/post/post_8.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="/blogs">
                        <img class="img-fluid" src="/images/post/post_9.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="/blogs">
                        <img class="img-fluid" src="/images/post/post_10.png" alt="">
                    </a>
                </li>
            </ul>
        </aside>


        <aside class="single_sidebar_widget newsletter_widget">
            <h4 class="widget_title">Them gia</h4>

            <form action="/blogs">
                <div class="form-group">
                    <input type="email" class="form-control" onfocus="this.placeholder = ''"
                        onblur="this.placeholder = 'Enter email'" placeholder='Nhập email' required>
                </div>
                <button class="button rounded-0 primary-bg text-white w-100 btn_1" type="submit">Theo dõi</button>
            </form>
        </aside>
    </div>
</div>