<head>
   <title><%= title%></title>
   <% include ../../elements/meta %>
</head>

<body class="bg-white">
    <% include ../../elements/header %>
    
    <% include ../../elements/breadcrumb %>
   <!--================Blog Area =================-->
   <section class="blog_area single-post-area section_padding">
      <div class="container">
         <div class="row">
            <div class="col-lg-8 posts-list">
               <div class="single-post">
                  <div class="feature-img">
                     <img class="img-fluid" src="/images/blog/single_blog_1.png" alt="">
                  </div>
                  <div class="blog_details">
                     <h2>Gợi ý trang phục trẻ trung để đi chơi cùng bạn bè.</h2>
                     <ul class="blog-info-link mt-3 mb-4">
                        <li><a href="/blogs/1"><i class="far fa-user"></i> Thời trang, Phong cách</a></li>
                        <li><a href="/blogs/1"><i class="far fa-comments"></i> 03 bình luận</a></li>
                     </ul>
                     <p class="excert">
                           Cuối tuần đến lại khiến nhiều cô nàng đau đầu suy nghĩ làm sao có cách ăn mặc đẹp và thoải mái nhất để đi chơi. 
                           Nếu bạn chưa tìm ra style nào đẹp và tiện lợi nhất thì hãy tham khảo các gợi ý của chúng tôi dưới đây nhé!
                     </p>
                     <p>
                           Các cách ăn mặc đơn giản mà đẹp này sẽ cho bạn những ngày vui chơi cuối tuần thoải mái mà không lo bị gò bó bởi trang phục.
                           Chọn trang phục đi chơi từ chất liệu đến những kiểu dáng để cho mình sự thoải mái nhất, hoặc chọn trang phục đi chơi theo phong cách như vintage lãng mạn.
                     </p>
                     <div class="quote-wrapper">
                        <div class="quotes">
                           Cuộc đời quá ngắn ngủi để mặc trang phục nhàm chán
                        </div>
                     </div>
                     <p>
                        Không gì tiện lợi, thoáng mát hơn là những mẫu áo, váy freesize, tiện dụng vô cùng và vẫn giúp các cô nàng giữ được nét trẻ trung.
                     </p>
                     <p>
                           Những kiểu áo váy freesize này không những cho bạn một sự thoải mái mà còn giúp che những khuyết điểm cơ thể như béo bụng hay quá gầy giúp bạn tự tin diện đồ đi chơi
                     </p>
                     <p>
                           Bạn có thể mix quần jeans với áo phông Freesize pha ren tinh tế. Với bộ trang phục này bạn có thể mix cùng giày slip-on hay giày thể thao đều rất năng động
                     </p>
                  </div>
               </div>
               <div class="navigation-top">
                  <div class="d-sm-flex justify-content-between text-center">
                     <p class="like-info"><span class="align-middle"><i class="far fa-heart"></i></span> 
                        Mai và 4 người khác thích bài này
                     </p>
                     <div class="col-sm-4 text-center my-2 my-sm-0">
                        <!-- <p class="comment-count"><span class="align-middle"><i class="far fa-comment"></i></span> 06 Comments</p> -->
                     </div>
                     <ul class="social-icons">
                        <li><a href="/blogs/1"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="/blogs/1"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="/blogs/1"><i class="fab fa-dribbble"></i></a></li>
                        <li><a href="/blogs/1"><i class="fab fa-behance"></i></a></li>
                     </ul>
                  </div>
                  <div class="navigation-area">
                     <div class="row">
                        <div
                           class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                           <div class="thumb">
                              <a href="/blogs/1">
                                 <img class="img-fluid" src="/images/post/preview.png" alt="">
                              </a>
                           </div>
                           <div class="arrow">
                              <a href="/blogs/1">
                                 <span class="lnr text-white ti-arrow-left"></span>
                              </a>
                           </div>
                           <div class="detials">
                              <p>Bài trước</p>
                              <a href="/blogs/1">
                                 <h4>Rào chắn không gian cuối cùng</h4>
                              </a>
                           </div>
                        </div>
                        <div
                           class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                           <div class="detials">
                              <p>Bài kế tiếp</p>
                              <a href="/blogs/1">
                                 <h4>Thiên văn 101</h4>
                              </a>
                           </div>
                           <div class="arrow">
                              <a href="/blogs/1">
                                 <span class="lnr text-white ti-arrow-right"></span>
                              </a>
                           </div>
                           <div class="thumb">
                              <a href="/blogs/1">
                                 <img class="img-fluid" src="/images/post/next.png" alt="">
                              </a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="blog-author">
                  <div class="media align-items-center">
                     <img src="/images/blog/author.png" alt="">
                     <div class="media-body">
                        <a href="/blogs/1">
                           <h4>Nguyễn Minh Quang</h4>
                        </a>
                        <p>Bài viết tham khảo cho các chị em</p>
                     </div>
                  </div>
               </div>
               <div class="comments-area">
                  <h4>03 bình luận</h4>
                  <div class="comment-list">
                     <div class="single-comment justify-content-between d-flex">
                        <div class="user justify-content-between d-flex">
                           <div class="thumb">
                              <img src="/images/comment/comment_1.png" alt="">
                           </div>
                           <div class="desc">
                              <p class="comment">
                                 Cảm ơn thớt ^.^ @Mai vào đọc nè
                              </p>
                              <div class="d-flex justify-content-between">
                                 <div class="d-flex align-items-center">
                                    <h5>
                                       <a href="/blogs/1">Huy</a>
                                    </h5>
                                    <p class="date">17 Tháng 10, 2019 3:12 pm </p>
                                 </div>
                                 <div class="reply-btn">
                                    <a href="/blogs/1" class="btn-reply text-uppercase">Trả lời</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="comment-list">
                     <div class="single-comment justify-content-between d-flex">
                        <div class="user justify-content-between d-flex">
                           <div class="thumb">
                              <img src="/images/comment/comment_2.png" alt="">
                           </div>
                           <div class="desc">
                              <p class="comment">
                                 Ý tưởng khá tốt đấy
                              </p>
                              <div class="d-flex justify-content-between">
                                 <div class="d-flex align-items-center">
                                    <h5>
                                       <a href="/blogs/1">Thành</a>
                                    </h5>
                                    <p class="date">15 Tháng 10, 2019 at 5:12 pm </p>
                                 </div>
                                 <div class="reply-btn">
                                    <a href="/blogs/1" class="btn-reply text-uppercase">Trả lời</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="comment-list">
                     <div class="single-comment justify-content-between d-flex">
                        <div class="user justify-content-between d-flex">
                           <div class="thumb">
                              <img src="/images/comment/comment_3.png" alt="">
                           </div>
                           <div class="desc">
                              <p class="comment">
                                 .
                              </p>
                              <div class="d-flex justify-content-between">
                                 <div class="d-flex align-items-center">
                                    <h5>
                                       <a href="/blogs/1">Minh</a>
                                    </h5>
                                    <p class="date"> 15 Tháng 10, 2019 at 10:03 am </p>
                                 </div>
                                 <div class="reply-btn">
                                    <a href="/blogs/1" class="btn-reply text-uppercase">Trả lời</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="comment-form">
                  <h4>Để lại bình luận</h4>
                  <form class="form-contact comment_form" action="/blogs/1" id="commentForm">
                     <div class="row">
                        <div class="col-12">
                           <div class="form-group">
                              <textarea class="form-control w-100" name="comment" id="comment" cols="30" rows="9"
                                 placeholder="Bình luận của bạn"></textarea>
                           </div>
                        </div>
                        <div class="col-sm-6">
                           <div class="form-group">
                              <input class="form-control" name="name" id="name" type="text" placeholder="Tên">
                           </div>
                        </div>
                        <div class="col-sm-6">
                           <div class="form-group">
                              <input class="form-control" name="email" id="email" type="email" placeholder="Địa chỉ email">
                           </div>
                        </div>
                        <div class="col-12">
                           <div class="form-group">
                              <input class="form-control" name="website" id="website" type="text" placeholder="Trang web">
                           </div>
                        </div>
                     </div>
                     <div class="form-group mt-3">
                        <a href="/blogs/1" class="btn_3 button-contactForm">Gửi bình luận</a>
                     </div>
                  </form>
               </div>
            </div>
            <% include blog-sidebar %>
         </div>
      </div>
   </section>
   <!--================Blog Area end =================-->

   <% include ../../elements/subscribe %>

   <% include ../../elements/footer %>

   <% include ../../elements/scripts %>
</body>

</html>