<head>
    <title><%= title %></title>
    <% include ../../elements/meta %>
</head>

<body class="bg-white">
    <% include ../../elements/header %>

    <% include ../../elements/breadcrumb %>

    <!-- about part here -->
    <section class="about_part section_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="about_tittle">
                        <p>Winter là shop online hỗ trợ đa dạng các loại mặt hàng về thời trang.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="single_about_part">
                        <img src="/images/about_img_1.png" alt="#">
                        <h4>Công ty</h4>
                        <p>Winter là shop chi nhánh tại TPHCM trực thuộc công ty XYZ.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="single_about_part">
                        <img src="/images/about_img_2.png" alt="#">
                        <h4>Chủ trương</h4>
                        <p>Với chủ trương mang đến cho các bạn những trang phục thời trang sành điệu với 
                            những chất lượng tuyệt vời. Shop hi vọng các bạn luôn tin cậy và ủng hộ nhiệt tình.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about part end -->

    <% include ../../elements/feature %>

    <% include ../../elements/subscribe %>

    <% include ../../elements/footer %>

    <% include ../../elements/scripts %>
</body>

</html>